<! DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Adresses </title >
        <meta http-equiv ="Content-Type" content ="text/html charset =UTF -8"/>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
    </head>
    <body >
        <div th:replace="header :: navbar"></div>
        <h1> Les differentes adresses </h1>
        <ul th:each ="address: ${ allAddresses }">
        <li th:text ="${address.name } + ' : '+${address.content}" />
        </ul >
    </body>
</html>
